root = true

[*]
tab_width = 2
indent_size = 2
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.txt]
indent_size = false

[Makefile]
indent_style = tab

[test/fast/Unit tests/package_json_templates/*]
indent_style = unset

[test/generated_semvers.sh]
indent_style = unset
indent_size = unset

[test/fast/Unit tests/nvm_trim_and_reduce_whitespace_to_one_space]
indent_style = unset
indent_size = unset

