root = true

[*]
tab_width = 2
indent_size = 2
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.txt]
indent_size = false

[test/fast/Listing versions/Running 'nvm ls' calls into nvm_alias]
indent_size = false

[test/fast/Listing versions/Running 'nvm ls --no-alias' does not call into nvm_alias]
indent_size = false

[test/fast/Unit tests/mocks/**]
insert_final_newline = off

[test/**/.urchin*]
insert_final_newline = off

[Makefile]
indent_style = tab
