# gitignore
HEAD
.cache
v*
alias

# For testing
test/bak
.urchin.log
.urchin_stdout
test/**/test_output
test/**/.nvmrc

node_modules/
npm-debug.log

.DS_Store
current
/default-packages

# Only apps should have lockfiles
npm-shrinkwrap.json
package-lock.json
yarn.lock

target/
